# System
.DS_Store

# Config
local-config.php
config/config.yml

# Build
build

# Database exports
databases

# Server
.htaccess

# Wordpress
content/uploads/
content/advanced-cache.php
content/wp-cache-config.php
content/upgrade/
content/cache/
content/backups/
sitemap.xml
sitemap.xml.gz

# W3 Total Cache
content/db.php
content/object-cache.php
content/w3-total-cache-config-preview.php
content/w3tc/

# Sass
.sass-cache
content/themes/*/assets/css

# Generated JavaScript
content/themes/*/assets/js/*.js
!content/themes/*/assets/js/libs/

# Logs
*.log