/** ----------------------------------

  Variables
  ---------

---------------------------------- */
// Project.
$project-name: project();

// Type/
$sans-stack: "Brandon Text", sans-serif;
$serif-stack: "Tisa", 'Georgia', serif;
$primary-stack: $serif-stack;
$secondary-stack: $sans-stack;

// Compass config.
$legacy-support-for-ie8: true;
$experimental-support-for-svg: true;
$base-font-size: 16px;
$base-line-height: 20px;

// Susy config.
// Media layouts.
$break-phone: 1 480px;
$break-tablet: 481px 6 800px;
$break-mobile: 6 801px;
$break-desktop: 801px 12;

// Grid.
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: $gutter-width;

// Options.
$container-style: magic;
$container-width: ($column-width*$total-columns) + ($gutter-width*$total-columns);
$show-grid-backgrounds: false;

// Transitions.
$transition-fast: .2s;

// Colors.
// Palette.
$gray: #808080;
$black: #000;
$blue: #88A1A9;
$pink: #CC188C;
$pink-invert: invert($pink);
$light-grey: #efefef;

// Site colors.
$text: $gray;
$primary: $gray;
$secondary: $black;
$tertiary: $blue;
$accent: $pink;
$accent-alt: $pink-invert;
$divider: $light-grey;