/** ----------------------------------

  Variables
  ---------

---------------------------------- */
// Project.
$project-name: project();

// Type/
$sans-stack: sans-serif;
$serif-stack: serif;
$primary-stack: $sans-stack;
$secondary-stack: $serif-stack;

// Compass config.
$legacy-support-for-ie8: true;
$experimental-support-for-svg: true;
$base-font-size: 16px;
$base-line-height: 20px;

// Susy config.
// Media layouts.
$break-phone: 1 480px;
$break-tablet: 481px 3 800px;
$break-mobile: 3 801px;
$break-desktop: 801px 4;

// Grid.
$total-columns: 4;
$column-width: 440px;
$gutter-width: 40px;
$grid-padding: 55px;

// Options.
$container-style: magic;
$container-width: 1040px;
$show-grid-backgrounds: false;

// Transitions.
$transition-fast: .2s;

// Colors.
// Palette.
$gray: #808080;

// Site colors.
$text: $gray;
$primary: $gray;
$secondary: null;
$tertiary: null;