/** ----------------------------------

  Mask Icons
  ----------

  Mask icons module.

---------------------------------- */
// Variable defaults.

// Imports.
@import 'mixins';

// Mixon.
@mixin mask-icons() {

  $icons: 'arrow-up', 'arrow-left', 'arrow-right';
  
  .mask-icon {
    @include transition(background-color .2s ease);
    @include translateZ(0);
    
    display: block;
    background-color: $secondary;
    
    @each $icon in $icons {
      &.#{$icon} {
        @include mask-icon($icon);
      }
    }
    
    .no-cssmask & {
      background-color: transparent;
    }
    
    &:hover {
      background-color: lighten($primary, 40%);
      
      .no-cssmask & {
        @include opacity(.5);
        
        background-color: transparent;
      }
    }
  }
}
