// Type module.
// Variable defaults.

// Imports.
@import 'mixins';

// Mixon.
@mixin type() {
  
  @include include-fonts;
  
  html {
    font-family: $primary-stack;
    color: $primary;
  }
  
  a {
    color: $primary;
    text-decoration: none;
  }

  #{headers()} {
    font-family: $secondary-stack;
    text-align: center;
    color: $secondary;
    font-size: em(19px);
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  h2 {
    color: $accent;
    font-size: em(16px);
    text-transform: uppercase;
  }
  
  p {
    line-height: 2em;
  }
}

// Module extends.