/** ----------------------------------

  About
  -----

  About page layout.

---------------------------------- */
.page-about-contact {
  
  h2 {
    text-align: left;
    margin-bottom: 30px;
  }
  
  h2,
  section {
    padding-left: $column-width/2;
  }
  
  section {
    
    border-left: 1px solid $divider;
    padding-bottom: 25px;
    
    p:first-child {
      // equalizes the fact that the right column has lis
      margin-top: 0;
    }
    
    p:last-child {
      margin-bottom: 0;
    }
    
  } // section
  
  .site-content a:hover {
    color: $tertiary;
  }
  
  @include phone {
    
    header:after {
      display: none;
    }
  
    h2,
    section,
    .column {
      @include span-columns(1);
      
      border: none;
      padding: 0;
    }
    
    h2 {
      margin-bottom: 1em;
    }
    
    .column {
      border-top: 1px solid $divider;
      padding: $gutter-width * .75 0;
    }
  
  } // @include phone
  
} // .page-about

.about-content {
  @include span-columns(7);
  @include suffix(.5);
}

.contact-details {
  @include span-columns(4.5 omega);
  @include prefix(.5);
}

.about-image {
  @include mobile {
    margin-top: 40px;
  }
  
  margin-top: 80px;
}