.page-about-contact {
  
  h2 {
    text-align: left;
  }
  
  h2,
  section {
    padding-left: $column-width/2;
  }
  
  section {
    border-left: 1px solid $divider;
  }
  
  @include phone {
  
    h2,
    section,
    .column {
      @include span-columns(1);
      
      border: none;
      padding: 0;
    }
  
  } // @include phone
  
} // .page-about

.about-content {
  @include span-columns(7);
  @include suffix(.5);
}

.contact-details {
  @include span-columns(4.5 omega);
  @include prefix(.5);
}