/** ----------------------------------

  Header, Footer
  --------------

  Header and footer layout.

---------------------------------- */
header,
footer {
  
  text-align: center;
  clear: both;
  
  a {
    text-transform: uppercase;
    color: $secondary;
    display: inline-block;
    font-family: $secondary-stack;
    font-weight: 700;
  }
  
} // header, footer

header {
  
  @include horizontal-divider(after);
  
  margin-bottom: 3.5em;
  
  .menu-item {
    display: inline-block;
    line-height: 20px;
  }
  
} // header

.global-logo {
  
  @include transition( color .15s linear, border-color .15s linear );
  
  border: 2px solid $secondary;
  padding: 15px 25px;
  margin: 70px 0 55px;
  letter-spacing: 4px;
  font-size: 18px;
  
  &:hover {
    color: $accent;
    border-color: $accent;
  }
  
} // .global-logo

.menu-item {
  
  letter-spacing: 1px;
  
  &:first-child {

    padding-right: 45px;
    margin-right: 45px;
    margin-left: 20px;
    border-right: 1px solid $divider;

    @include phone {

      padding-right: 0;
      margin: 0;
      border: none;
      width: 100%;

      @include horizontal-divider(after, 30px) {
        margin: 20px auto;
      }

    } // phone

  } // &:first-child
  
  a {
    
    border-bottom: 2px solid transparent;
    
    &:hover {
      border-bottom-color: $secondary;
    }
    
  } // a
  
  &.current-menu-item a {
    
    color: $tertiary;
    
    &:hover {
      border-bottom-color: $tertiary;
    }
    
  } // &.current-menu-item a
  
} // .menu-item

footer {
  
  @include horizontal-divider(before);
  
  padding-bottom: 30px;
  line-height: 20px;
  margin-top: 3.5em;
  float: left; // prevent collapsing margins
  width: 100%;
  
  a {
    font-size: 12px;
    letter-spacing: 1px;
  }
  
  small {
    display: block;
    font-size: 9px;
    margin: 30px 0;
  }
  
} // footer