/** ----------------------------------

  Website
  -------

  Website layout, for common elements.

---------------------------------- */
@include border-box-sizing;

html {
  font-family: $primary-stack;
  color: $primary;
}

body {
  @include container;
}

a {
  color: $primary;
  text-decoration: none;
}

.container {
  @include position(relative);
  @include box-sizing(content-box);
  @include container;
  @include grid-bg;
  
  height: 100%;
  
  @include phone {
    @include set-container-width;
    @include grid-bg;
  }
  
  @include tablet {
    @include set-container-width;
    @include grid-bg;
  }
}

// Helper classes.
.desktop-only {
  @include mobile {
    display: none !important;
  }
}

.mobile-only {
  display: none;
  
  @include mobile {
    display: block;
  }
}

.tablet-only {
  @include tablet {
    display: inherit;
  }
  
  display: none;
}

.hide-phone {
  @include phone {
    display: none;
  }
}

// Misc. elements.
hr {
  width: auto;
  height: 1px;
  border: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

header,
footer {
  
  text-align: center;
  clear: both;
  
  a {
    color: $secondary;
    display: inline-block;
    font-family: $secondary-stack;
    color: $secondary;
  }
  
} // header, footer

header {
  
  @include horizontal-divider(after);
  
  .menu-item {
    display: inline-block;
  }
  
} // header

.global-logo {
  border: 2px solid $secondary;
  padding: 15px 20px;
}

.menu-item:first-child {
  padding-right: 45px;
  margin-right: 45px;
  border-right: 1px solid $divider;
}

footer {
  
  @include horizontal-divider(before);
  
  small {
    display: block;
  }
  
} // footer