.grid-block {
  
  @include span-columns(4);
  margin-bottom: gutter();
  
  @include desktop {
    @include nth-omega(3n);
  }
  
  @include tablet {
    @include span-columns(3);
    @include nth-omega(2n);
    margin-bottom: gutter();
  }
  
  @include phone {
    @include span-columns(1 omega);
    margin-bottom: 4%;
  }
  
  a {
    display: block;
    width: 100%;
    min-height: 100px;
    background: $light-grey;
  }
  
} // .grid-block

.work-categories {
  clear: left;
}

.project-description {
  @include squish(1,1);
  text-align: center;
}