@mixin block-hover( $color ) {
  
  a:hover {
    color: shade( $color, 30 );
    background: rgba( $color, .1 );
  }
    
  a:hover:before,
  a:hover:after,
  a:hover span:before {
    background: rgba( $color, .1 );
  }
  
} // @mixin block-hover

.grid-block {
  
  @include span-columns(4);
  margin-bottom: gutter();
  
  @include desktop {
    
    &:nth-child(3n) {
      @include omega;
    }
    
  } // @include desktop
  
  @include tablet {
    
    @include span-columns(3);
    margin-bottom: gutter();
    
    &:nth-child(2n) {
      @include omega;
    }
    
  } // @include tablet
  
  @include phone {
    @include span-columns(1 omega);
    margin-bottom: 4%;
  }
  
  a {
    display: block;
    width: 100%;
    min-height: 100px;
    background: $light-grey;
    color: $secondary;
    text-align: center;
    font-family: $secondary-stack;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    overflow: hidden;
  }
  
  .featured-work & {
    
    span {
      display: none;
    }
    
    a:hover {
      
      @include box-shadow( inset 0 0 0 2px $secondary );
    
      span {
        display: inline-block;
        padding: 13px 18px;
        background: #fff;
      }
    
    } // a:hover
    
  } // .featured-work & a:hover
  
  .work-categories & {
    
    a:before,
    a:after,
    span:before {
      content: "";
      display: block;
      width: 150%;
      height: 100%;
      background: rgba( $gray, .2 );
      position: absolute;
    }
    
    a {
      
      &:before {
        @include rotate(45deg);
        top: -35%;
        right: -65%;
      }
      
      &:after {
        @include rotate(10deg);
        left: -30%;
        bottom: -40%;
      }
      
    } // a
    
    span:before {
      @include rotate(120deg);
      height: 200%;
      left: -50%;
    }

    @include block-hover( adjust-hue( $accent, 30 ) ); //#ED6971 );
    
    &:nth-child(1) {
      @include block-hover( adjust-hue( desaturate( $accent-alt, 12 ), 20 ) ); // #00A782 );
    }
    
    &:nth-child(2) {
      @include block-hover( adjust-hue( saturate( $tertiary, 18 ), 18 ) ); //#4D7FAA );
    }
    
  } // .work-categories &
  
} // .grid-block

.work-categories {
  clear: left;
}

.project-description {
  
  @include squish(3,3);
  text-align: center;
  line-height: 1.8em;
  
  a {
    font-style: italic;
  }
  
} // .project-description

.single .images {
  text-align: center;
}